.Q_column_topic h2.Q_title_slot {
	padding-left: 40px;
	font-weight: normal;
}
#Q_columns-Teaching_tool.Q_columns_tool .Q_column_topic h2.Q_title_slot:before {
	font-family: 'qplatform-calendars' !important;
	content: "\e906";
	display: block;
	font-size: 28px;
	width: 40px;
	position: absolute;
	left: 0;
	text-align: center;
	color: var(--button-bg-color);
}
